* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.form_container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    box-sizing: border-box;
    border: 2px solid black;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.form_container h2 {
    display: block;
    padding: 5% 5%;
    min-width: 50%;
    font: bold 22px/24px sans-serif;
    text-transform: uppercase;
}

.form_container #sign_up {
    text-align: right;
    min-width: 30%;
    float: right;
    display: block;
    padding: 5% 5%;
    font: bold 22px/24px sans-serif;
    text-transform: uppercase;
    color: black;
}

.form_container label {
    display: block;
    margin-left: 5%;  
    font: bold 16px/22px sans-serif;
    text-transform: uppercase;
}

.form_container #status {
    width: 20%;
    padding-top: 15px;
}

.form_container input[type="text"], input[type="email"], input[type="password"], 
input[type="submit"], input[type="number"], input[type="date"], input[type="checkbox"] {
    outline: none;
    border-radius: 1px;
    border: 0;
    box-sizing: border-box;
}

.form_container input[type="text"], input[type="email"], input[type="password"], 
input[type="number"], input[type="date"], input[type="checkbox"]  {
    height: 15px;
    width: 90%;
    margin: 2% 5% 3% 5%;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 25px 0px 25px 10px;
    color: #000;
    font: 16px/22px sans-serif;
}

.form_container input[type="checkbox"] {  height: 30px; width: 60%; }

.btn_done, .btn_cancel {
    height: 50px;
    width: 39.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    color: #4285F4;
    font: bold 16px/22px sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.btn_done:hover, .btn_cancel:hover, .project_btn a:hover, #project_info .task_btn a:hover, #project_info #logout a:hover {background-color: #e5e9e9;}

.btn_done {
    margin-left: 5%;
    margin-right: 5%;
}

.btn_cancel {
    margin-right: 5%;
    margin-left: 5%;
}

#project_info {
    width: 70%;
    margin: 0 auto;
}

#project_info h2 {
    text-align: center;
    margin: 3% 0 3% 0;
    font: 28px/32px sans-serif;
}

#project_info #logout {
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #fff;
    font: 28px/32px sans-serif;
    width: 20%;
    height: 50px;
    cursor: pointer;
    margin-top: 3%;
    text-align: center;
    border-radius: 5px;
}

#project_info #logout a {
    display: inline-block;
    color: #4285F4;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}

#project_info .project_name {
    margin-top: 2.5%;
    float: left;
    font: 22px/24px sans-serif;
    display: block;
    min-width: 30%;
}

#project_info .project_btn {
    display: inline-block;
    font: bold 18px/22px sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    height: 30px;
    width: 20%;
    margin: 2% 2% 2% 0;
    text-align: center;
    border-radius: 5px;

}

#project_info .project_btn a {
    display: inline-block;
    color: #4285F4;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#project_info li {
    display: block;
    font: 18px/22px sans-serif;
    margin: 2% 5% 2% 5%;
    float: left;
    width: 100%;
}

#project_info .attr_wrap { 
    width: 100%;
    font: 18px/22px sans-serif;
}

#project_info .attr_wrap .task_attr_name {
    float: left;
    margin-left: 2%;
    min-width: 25%;
}

.project_wrapper {
    margin-bottom: 3%;
}

.error, .success {
    display: block;
    margin-left: 5%;  
    font: 16px/22px sans-serif;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.error {color: red;}
.success {color: green;}
.center {text-align: center;}
#project_flash p {margin-left: 0;}

#project_info .task_attr {
    float: left;
    margin-right: 5%;
    min-width: 25%;
}

#project_info span {
    width: 50%;
}

#project_info table {
    margin: 0 auto;
    font: 18px/22px sans-serif;
    border-spacing: 50px 15px; 
}

#project_info table th, td {
    text-align: left;
}

#project_info table th {
    text-align: left;
}

#project_info .task_btn {
    text-transform: uppercase;
    background-color: #fff;
    width: 45%;
    cursor: pointer;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    color: #4285F4;
    font: bold 16px/22px sans-serif;
    margin: 5% 0 5% 5%;
}

#project_info .task_btn:hover {background-color: #e5e9e9;}

#project_info .task_btn a {
    display: inline-block;
    color: #4285F4;
    width: 45%;
    height: 100%;
}

#project_info span {
    margin: 5% 5% 5% 0 !important;
}

.done_lbl {
    display: inline-block !important;
    padding-top: 10px;
}

.add_btn {
    margin: 5% 5% 5% 5% !important;
    width: 90% !important;
}